<!doctype html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header class="site-header">
    <div class="container nav">
      <a class="logo" href="{{ '/' | relative_url }}">{{ site.title }}</a>

    <nav>
  <a href="{{ '/' | relative_url }}">خانه</a>
  <a href="{{ '/archive/' | relative_url }}">آرشیو</a>
  <a href="{{ '/categories/' | relative_url }}">موضوعات</a>
  <a href="{{ '/search/' | relative_url }}">جست‌وجو</a>
  <a href="{{ '/tags/' | relative_url }}">برچسب‌ها</a>
  <a href="{{ '/about/' | relative_url }}">درباره</a>
  
  </button>
</nav>


  <button class="theme-toggle" id="theme-toggle" type="button">
  تغییر حالت
  </button>

    </div>
  </header>

  <main class="container site-main">
    {{ content }}
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>© {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </div>
  </footer>
  

</body>
</html>
